{% extends "FrontBundle:general:base.html.twig" %}
{% block title %}Category{% endblock %}
{% block head %}
    {{ parent() }}
{% endblock %}
{% block content %}
    <main>
        <header class="row">
            <div class="col-sm-6">
                <h2 data-category="{{ categoryName }}">{{ categoryName }}</h2>
            </div>
        </header>
        <section class="row" id="charts">
            <div class="col-sm-6">
                <div class="panel panel-default" id="EvolutionOverTime">
                    <div class="panel-heading">Evolution over Time</div>
                    <div class="panel-body"><canvas id="timeEvolution"></canvas></div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="panel panel-default" id="Sentiment">
                    <div class="panel-heading">Sentiment</div>
                    <div class="panel-body">
                        <h3>{{ sentiment.sentiment_name }}</h3>
                        <p>value: {{ sentiment.average_sentiment.value | number_format(2,'.', ',') }}</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="panel panel-default" id="geolocalization">
                    <div class="panel-heading">Global Interest</div>
                    <div class="panel-body" id="map"></div>
                </div>
            </div>
        </section>
    </main>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="http://dr6rfcu3k9b1o.cloudfront.net/bundles/front/js/dist/category.min.js"></script>
{% endblock %}